.planet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 40vh;
}

.planet-name {
  font-size: 30px;
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
}

.planet-para {
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
  width: 90%;
}
